<!DOCTYPE html>

<html>

<head>
    <title>The Cure</title>
    <link rel="stylesheet" href="/public/accueil.css" />
</head>
<%- include('header.ejs') %>

<body>
    <div style='text-align: center'>
        <p class='textaccueil'> Bienvenue sur l'application "The Cure" </br>
            The Cure est une équipe de tennis. </br> Nous jouons dans la division homme 6.
        </p>
        <img class='photoaccueil' src='public/images/équipe.jpg' alt='équipe'
            style='border-radius: 10px' />
    </div>
</body>
<%- include('footer.ejs') %>