
<!DOCTYPE html>

<html>

<head>
    <title>FooterStyle</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/public/footer.css" />
</head>
<footer>
    <a href="https://www.facebook.com/dorsan.defabribeckers" target="_blank"><img class='logonetwork2'
            src="/public/images/fb.png" alt='facebook' /></a>
    <a href="https://www.instagram.com/dorsan_defabribeckers_official/" target="_blank"><img class='logonetwork'
            src="/public/images/insta.png" alt='insta' /></a>
</footer>


</html>