<!DOCTYPE html>

<html>

<head>
  <title>HeaderStyle</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="/public/header.css" />
</head>

<header>
  <div class="head">
  <img class='logobatd' src="/public/images/batd.png" alt='batd' />
  <h1> The Cure</h1>
  <img class='logobatd2' src="/public/images/batd.png" alt='batd' />
  </div>

<ul id="nav">
  <li> <button><a href="/accueil">Accueil</a></button></li>
  <li><button><a href="/effectif">Effectif</a></button></li>
  <li><button><a href="/matchs">Matchs</a></button></li>
</ul>
</header>
</html>