<html>
    <head>
        <title>TodoList MVC</title>
        
    </head>
    <body>
        <div id="container">
            <h1 id="titreApp">To Do App</h1>
            <form action="/add" method="POST" class="addPart" id="addForm">
                <input type="text" id="addInput" name="taskLabel" placeholder="ajouter une tâche"></input>
                <button id="addButton">ajouter</button>
            </form>
            <br />
            <div id="list" class="list">
                <% for(let i=0 ; i < tasksList.length ; i++) { %>
                    <div class="containerTask borderTask">
                        <p class="taskItem"><%= tasksList[i].label %></p>
                        <div id="<%= i %>" onclick="location.href='/delete/<%= i %>';">X</div>
                    </div>
                <% } %>
            </div>
            <br /><br /><br />
        </div>
    </body>
</html>